/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}
/*select*/
select{
-webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    border: 1px solid #BDBDBD;
    padding-top: 8px;
    padding-bottom: 7px;
    text-overflow: ellipsis;
    white-space: nowrap}
/*hide slider*/
g.raphael-group-45-fc-gradient-legend {
    display: none;
}
/*table with data*/
.data-table {
 font-size:14px;
  border-collapse: collapse;

}

.data-table td, .data-table th {
  border: 1px solid #BDBDBD;
  padding: 8px;
}

.data-table tr:nth-child(even){background-color: #f2f2f2;}
.data-table td:nth-child(odd){font-weight:600}
.data-table tr:hover {background-color: #ddd;}

.data-table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #1976d2;
  color: white;
}
/*go to top*/
.up{
position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    transition: all 0.3s ease-in-out;}
.up p{
display: inline-flex;
    width: 45px;
    height: 45px;
    padding-top:8px;
    border-radius: 50em;
    letter-spacing: -2px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0 30px -2px rgba(0, 0, 0, 0.15);
    font-size: 30px;
    color: #BDBDBD;
}
.up p:hover{
color:#fff;
background-color: #1976d2;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/